[Unit]
Description=Jib Deployer
After=jib-bus.service
Requires=jib-bus.service

[Service]
ExecStart=/usr/local/bin/jib-deployer run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
