[Unit]
Description=Jib Git Watcher
After=jib-bus.service jib-deployer.service
Requires=jib-bus.service
Wants=jib-deployer.service

[Service]
ExecStart=/usr/local/bin/jib-watcher run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
